/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.responsive-pics {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: 50% 50%; }

.motorcycle {
  background-image: url("../css/images/motorcycle.jpg"); }

.fab {
  background-image: url("../css/images/fab.jpg"); }

.playing {
  background-image: url("../css/images/playing.jpg"); }

.diving {
  background-image: url("../css/images/diving.jpg"); }

.hero-text-container {
  color: black;
  position: absolute;
  top: 50vh;
  width: 100vw;
  z-index: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.main-text {
  text-transform: capitalize; }

body {
  font-family: 'Roboto', sans-serif, arial; }

.navbar {
  margin-bottom: 0px !important;
  border: none !important; }

.navbar-collapse {
  border-top: none; }

.navbar-nav {
  margin-top: 0; }

.about-banner {
  background-color: black;
  height: 20vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .about-banner span {
    color: white;
    font-size: 3em; }

.about-img-background {
  background-image: url("../css/images/realestate.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh; }

.dark-overlay {
  background-color: rgba(65, 73, 78, 0.7);
  height: 50vh;
  position: relative;
  top: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start; }
  .dark-overlay p {
    color: white;
    padding: 3em 1em 0 1em;
    font-size: 1.6em; }
