/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.responsive-pics {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: 50% 50%; }

.house-northshore {
  background-image: url("../css/images/house-northshore.jpg"); }

.house-surrey {
  background-image: url("../css/images/house-surrey.jpg"); }

.house-langley {
  background-image: url("../css/images/house-langley.jpg"); }

.house-burnaby {
  background-image: url("../css/images/house-burnaby.jpg"); }

.hero-container {
  height: 100vh;
  width: 100vw;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  color: white;
  background-color: rgba(34, 58, 46, 0.28);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0; }

.main-text {
  text-transform: capitalize;
  z-index: 3; }
  @media (min-width: 720px) {
    .main-text {
      font-size: 4em; } }
  @media (min-width: 1080px) {
    .main-text {
      font-size: 6em; } }

.sub-text {
  font-size: 1.8em;
  z-index: 3;
  width: 100vw;
  text-align: center; }
  @media (min-width: 720px) {
    .sub-text {
      width: 81%;
      font-size: 2.1em; } }
  @media (min-width: 1080px) {
    .sub-text {
      font-size: 2.6em; } }

body {
  font-family: 'Roboto', sans-serif, arial;
  max-width: 100%;
  overflow-x: hidden; }

.banner {
  background-color: black;
  height: 20vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .banner h2 {
    color: white;
    font-size: 3em; }

.bx-wrapper {
  position: absolute;
  top: 0; }

.about-img-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../css/images/realestate.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  @media (min-width: 720px) {
    .about-img-background {
      background-position: top; } }
  .about-img-background p {
    width: 90vw;
    line-height: 2em;
    color: white;
    text-align: center;
    font-size: 1.6em; }
    @media (min-width: 720px) {
      .about-img-background p {
        font-size: 2em; } }
    @media (min-width: 1080px) {
      .about-img-background p {
        font-size: 4.5vh; } }

.contact-section {
  background-image: url("../css/images/asanoha.png");
  background-attachment: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 1.6em; }
  .contact-section div {
    margin-top: 2em; }
  .contact-section input {
    height: 2em; }
  .contact-section textarea {
    height: 15em;
    padding-top: 50%; }
  .contact-section button {
    width: 80vw;
    height: 2em;
    margin-bottom: 4em; }
    @media (min-width: 720px) {
      .contact-section button {
        width: 50vw; } }
    @media (min-width: 1080px) {
      .contact-section button {
        width: 25vw; } }

.box-style {
  width: 80vw;
  border-radius: 3%;
  border: 0.5px grey solid;
  text-align: center; }
  @media (min-width: 720px) {
    .box-style {
      width: 50vw; } }

footer {
  background-color: black;
  height: 25em;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  footer span {
    color: white;
    font-size: 2em;
    margin-right: 0.4em; }
