.contact-section {
background-image: url('../css/images/asanoha.png');
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-size: 1.6em;

div {
  margin-top: 2em;
}

input {
  height: 2em;
}

textarea {
  height: 15em;
  padding-top: 50%;
}
button {
  width: 80vw;
  height: 2em;
  margin-bottom: 4em;
  @include tablet {
    width: 50vw;
  }
  @include desktop {
    width: 25vw;
  }
}
}

.box-style {
  width: 80vw;
  border-radius: 3%;
  border: 0.5px grey solid;
  text-align: center;
  @include tablet {
    width: 50vw;
  }
}
