@import "media-queries";

.responsive-pics {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: 50% 50%;
}
.house-northshore {
  background-image: url('../css/images/house-northshore.jpg');
}
.house-surrey {
  background-image: url('../css/images/house-surrey.jpg');
}
.house-langley {
  background-image: url('../css/images/house-langley.jpg');
}
.house-burnaby {
  background-image: url('../css/images/house-burnaby.jpg');
}
.hero-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: rgba(34, 58, 46, 0.28);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.main-text {
  text-transform: capitalize;
  z-index: 3;
  @include tablet {
    font-size: 4em;
  }
  @include desktop {
    font-size: 6em;
  }
}
.sub-text {
  font-size: 1.8em;
  z-index: 3;
  width: 100vw;
  text-align: center;

  @include tablet {
    width: 81%;
    font-size: 2.1em;

  }
  @include desktop {
    font-size: 2.6em;
  }
}
