.responsive-pics {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: 50% 50%;
}
.house-northshore {
  background-image: url('../css/images/house-northshore.jpg');
}
.house-surrey {
  background-image: url('../css/images/house-surrey.jpg');
}
.house-langley {
  background-image: url('../css/images/house-langley.jpg');
}
.house-burnaby {
  background-image: url('../css/images/house-burnaby.jpg');
}
.hero-text-container{
  background-color: rgba(65, 73, 78, 0.7);
  color: white;
  position: absolute;
  top: 50vh;
  width: 100vw;
  z-index: 2;
  padding: 1em 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-text {
  text-transform: capitalize;
}
.sub-text {
  width: 70%;
  position: relative;
  left: 0.7em;
}
